.export-icon {
  background-color: #222;
  border: 1px solid, #444;
  color: #e9cf9f;
  padding: 1px 5px;
  text-align: center;
  font-size: 85%;
  margin-top: 5px;
}

.export-icon:hover {
  background-color: #080809;
}
